<ion-header>
  <ion-toolbar>
    <ion-title>signIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="w-100 h-100 f a-center">
    <ion-grid>
      <ion-row>
        <ion-col offsetLg="4" sizeLg="4" offsetSm="3" sizeSm="6">
          <ion-card [formGroup]="formSignIn">
            <ion-card-header class="f j-center a-center">
              <ion-icon name="person-circle" class="z-6"></ion-icon>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="floating">Contraceña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-card-content>
          
            <ion-card-content class="f j-center">
              <ion-button (click)="clickedSignIn()">Aceptar</ion-button>
            </ion-card-content>
          
            <ion-card-content class="f j-end">
              <ion-button routerLink="/sign-up" size="small" fill="clear">aun no tienes cueta?</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
