<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerDirection="root" routerLink="/auth/admin/products/create">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar name="search" [(ngModel)]="search" placeholder="Buscar Producto" searchIcon="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="p-0">
    <ion-row>
      <ion-col offsetLg="2" sizeLg="8" class="p-0">
        <ion-card routerDirection="root" [routerLink]="['/auth/admin/products/edit',product.productId]" button *ngFor="let product of products | filterProduct: search">
          <ion-product [product]="product"></ion-product>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>