<ion-header>
  <ion-toolbar>
    <ion-title>Cambio de Contraceña</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-100 h-100 f j-center a-center">
    <ion-card [formGroup]="formChangePassword">
      <ion-card-content>
        <ion-item class="bg-transparent">
          <ion-label position="floating">Contraceña Actual</ion-label>
          <ion-input type="password" formControlName="currentPassword"></ion-input>
        </ion-item>
    
        <ion-item class="bg-transparent">
          <ion-label position="floating">Contraceña Nueva</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-card-content class="f j-end">
        <ion-button *ngIf="!spinner; else btnSpinner" (click)="clickedChangePassword()">
          Aceptar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ng-template #btnSpinner>
  <ion-button>
    Procesando...
    <ion-spinner></ion-spinner>
  </ion-button>
</ng-template>