<ion-header>
  <ion-toolbar>
    <ion-title>Cambio de Contraceña</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-100 h-100 f j-center a-center">
    <ion-grid [formGroup]="formChangePassword">
      <ion-row>
        <ion-col offsetSm="3" sizeSm="6">
          <ion-item class="bg-transparent">
            <ion-label position="floating">Contraceña Actual</ion-label>
            <ion-input type="password" formControlName="currentPassword"></ion-input>
          </ion-item>
      
          <ion-item class="bg-transparent">
            <ion-label position="floating">Contraceña Nueva</ion-label>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="f j-center">
          <div class="m-20">
            <ion-button *ngIf="!spinner; else btnSpinner" (click)="clickedChangePassword()">Aceptar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ng-template #btnSpinner>
  <ion-button>
    Procesando...
    <ion-spinner></ion-spinner>
  </ion-button>
</ng-template>