<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar</ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="signin">
        <ion-label>Iniciar Sesión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signup">
        <ion-label>Registrame</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="w-100 h-100 f a-center">
    
    <ion-grid>
      <ion-row>
        <ion-col offsetLg="4" sizeLg="4" offsetSm="3" sizeSm="6">
          <app-signin ($goSignUp)="segment = 'signup'" [email]="email" *ngIf="segment == 'signin'"></app-signin>
          <app-signup *ngIf="segment == 'signup'" ($goSignIn)="$goSignIn($event)"></app-signup>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>

</ion-content>
