<ion-list>
    <ion-list-header>
        <ion-label>
            Ordenar
            <p class="t-primary capitalize" *ngIf="filterSort">
                {{ filterSort.sortBy }}
            </p>
        </ion-label>
    </ion-list-header>

    <ion-item (click)="clickedSort(option)" button *ngFor="let option of sortOptions">
        <ion-label class="capitalize">
            <p>{{ option.sortBy }}</p>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="option.selected" mode="ios"></ion-checkbox>
    </ion-item>
</ion-list>

<ion-list>
    <ion-list-header>
        <ion-label>
            Categorias
            <p class="t-primary capitalize" *ngIf="filterCategory">
                {{ filterCategory.categoryName }}
            </p>
        </ion-label>
    </ion-list-header>

    <ion-item (click)="clickedAllCategory()" button>
        <ion-label>
            <p>Todas</p>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="!filterCategory" mode="ios"></ion-checkbox>
    </ion-item>

    <ion-item (click)="clickedCategory(category)" button *ngFor="let category of categories">
        <ion-label class="capitalize">
            <p>{{ category.categoryName }}</p>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="category.selected" mode="ios"></ion-checkbox>
    </ion-item>
</ion-list>