<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>

    <ion-buttons slot="end">
      <ion-chip routerDirection="root" routerLink="/auth/admin/categories/create">
        <ion-label>Crear</ion-label>
        <ion-icon name="create" color="primary"></ion-icon>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="p-0">
    <ion-row>
      <ion-col class="p-0" sizeXl="4" sizeMd="6" sizeXs="12" *ngFor="let category of categories">
        <ion-category (click)="clickedCategory(category)" button [category]="category"></ion-category>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>