<ion-header>
    <ion-toolbar>
        <ion-title>Nuevo Producto</ion-title>

        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/auth/admin/products"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="clickedSave()">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <product-form [$clickSave]="$clickSave"></product-form>

</ion-content>