<ion-header>
    <ion-toolbar>
        <ion-title>Nuevo Producto</ion-title>

        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/auth/admin/products"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-chip (click)="clickedSave()">
                <ion-label>Guardar</ion-label>
                <ion-icon color="primary" name="save"></ion-icon>
            </ion-chip>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <product-form [$clickSave]="$clickSave"></product-form>

</ion-content>