<ion-header>
  <ion-toolbar>
    <ion-title>invoices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="invoices && invoices.length; else lockerEmpty">
    {{ invoices.length }}
  </div>

</ion-content>

<ng-template #lockerEmpty>
  <div class="w-100 h-100 f j-center a-center">
    <ion-card *ngIf="!isLoad">
      <ion-card-header class="capitalize">
        has tu primera compra!
        <a routerLink="/" routerDirection="root">Ir de Compras</a>
      </ion-card-header>
    </ion-card>
  </div>
</ng-template>

<ng-template #btnSpinner>
  <ion-button fill="clear" size="small" color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</ng-template>