.bg-primary { 
    --background: var(--ion-color-primary) !important; 
    background-color: var(--ion-color-primary) !important;
}
.bg-secondary { 
    --background: var(--ion-color-secondary) !important; 
    background-color: var(--ion-color-secondary) !important;
}
.bg-tertiary { 
    --background: var(--ion-color-tertiary) !important; 
    background-color: var(--ion-color-tertiary) !important;
}
.bg-success { 
    --background: var(--ion-color-success) !important; 
    background-color: var(--ion-color-success) !important;
}
.bg-warning { 
    --background: var(--ion-color-warning) !important; 
    background-color: var(--ion-color-warning) !important;
}
.bg-danger { 
    --background: var(--ion-color-danger) !important; 
    background-color: var(--ion-color-danger) !important;
}
.bg-dark { 
    --background: var(--ion-color-dark) !important; 
    background-color: var(--ion-color-dark) !important;
}
.bg-medium { 
    --background: var(--ion-color-medium) !important; 
    background-color: var(--ion-color-medium) !important;
}
.bg-light { 
    --background: var(--ion-color-light) !important; 
    background-color: var(--ion-color-light) !important;
}
.bg-backdrop { 
    --background: var(--ion-color-backdrop) !important; 
    background-color: var(--ion-color-backdrop) !important;
}
.bg-white { 
    --background: #fff !important; 
    background-color: #fff !important;
}
.bg-transparent { 
    --background: transparent !important; 
    background-color: transparent !important;
}