.b{border: 1px solid rgba(0, 0, 0, 0.13) !important;}
.b-top{border-top: 1px solid rgba(0, 0, 0, 0.13) !important;}
.b-bottom{border-bottom: 1px solid rgba(0, 0, 0, 0.13) !important;}
.b-right{border-right: 1px solid rgba(0, 0, 0, 0.13) !important;}
.b-left{border-left: 1px solid rgba(0, 0, 0, 0.13) !important;}
.bx{
    border-left: 1px solid rgba(0, 0, 0, 0.13) !important; 
    border-right: 1px solid rgba(0, 0, 0, 0.13) !important;
}
.by{
    border-top: 1px solid rgba(0, 0, 0, 0.13) !important; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.13) !important;
}

.br{border-radius: 2px !important;}
.br-0{border-radius: 0 !important;}
.br-2{border-radius: 2px !important;}
.br-4{border-radius: 4px !important;}
.br-6{border-radius: 6px !important;}
.br-8{border-radius: 8px !important;}
.br-10{border-radius: 10px !important;}
.br-12{border-radius: 12px !important;}
.br-16{border-radius: 16px !important;}
.br-20{border-radius: 20px !important;}
.br-24{border-radius: 24px !important;}
.br-30{border-radius: 30px !important;}
.br-50{border-radius: 50% !important;}

.bc-primary{border-color: var(--ion-color-primary) !important;}
.bc-ligth{border-color: var(--ion-color-light) !important;}
.bc-danger{border-color: var(--ion-color-danger) !important;}
.bc-warning{border-color: var(--ion-color-warning) !important;}

.bw{border-width: 2px !important;}
.bw-0{border-width: 0 !important;}
.bw-2{border-width: 2px !important;}
.bw-4{border-width: 4px !important;}
.bw-6{border-width: 6px !important;}
.bw-8{border-width: 8px !important;}
.bw-10{border-width: 10px !important;}
.bw-12{border-width: 12px !important;}
.bw-16{border-width: 16px !important;}
.bw-20{border-width: 20px !important;}
.bw-24{border-width: 24px !important;}
.bw-30{border-width: 30px !important;}
