.p-0{padding: 0 !important;}
.p-2{padding: 2px !important;}
.p-4{padding: 4px !important;}
.p-6{padding: 6px !important;}
.p-8{padding: 8px !important;}
.p-10{padding: 10px !important;}
.p-12{padding: 12px !important;}
.p-16{padding: 16px !important;}
.p-20{padding: 20px !important;}
.p-24{padding: 24px !important;}
.p-30{padding: 30px !important;}
//%
.p-5p{padding: 5% !important;}
.p-10p{padding: 10% !important;}
.p-15p{padding: 15% !important;}
.p-20p{padding: 20% !important;}

.px-0{padding-left: 0 !important; padding-right: 0 !important;}
.px-2{padding-left: 2px !important; padding-right: 2px !important;}
.px-4{padding-left: 4px !important; padding-right: 4px !important;}
.px-6{padding-left: 6px !important; padding-right: 6px !important;}
.px-8{padding-left: 8px !important; padding-right: 8px !important;}
.px-10{padding-left: 10px !important; padding-right: 10px !important;}
.px-12{padding-left: 12px !important; padding-right: 12px !important;}
.px-16{padding-left: 16px !important; padding-right: 16px !important;}
.px-20{padding-left: 20px !important; padding-right: 20px !important;}
.px-24{padding-left: 24px !important; padding-right: 24px !important;}
.px-30{padding-left: 30px !important; padding-right: 30px !important;}
//%
.px-5p{padding-left: 5% !important; padding-right: 5% !important;}
.px-10p{padding-left: 10% !important; padding-right: 10% !important;}
.px-15p{padding-left: 15% !important; padding-right: 15% !important;}
.px-20p{padding-left: 20% !important; padding-right: 20% !important;}

.py-0{padding-top: 0 !important; padding-bottom: 0 !important;}
.py-2{padding-top: 2px !important; padding-bottom: 2px !important;}
.py-4{padding-top: 4px !important; padding-bottom: 4px !important;}
.py-6{padding-top: 6px !important; padding-bottom: 6px !important;}
.py-8{padding-top: 8px !important; padding-bottom: 8px !important;}
.py-10{padding-top: 10px !important; padding-bottom: 10px !important;}
.py-12{padding-top: 12px !important; padding-bottom: 12px !important;}
.py-16{padding-top: 16px !important; padding-bottom: 16px !important;}
.py-20{padding-top: 20px !important; padding-bottom: 20px !important;}
.py-24{padding-top: 24px !important; padding-bottom: 24px !important;}
.py-30{padding-top: 30px !important; padding-bottom: 30px !important;}

//%
.py-5p{padding-top: 5% !important; padding-bottom: 5% !important;}
.py-10p{padding-top: 10% !important; padding-bottom: 10% !important;}
.py-15p{padding-top: 15% !important; padding-bottom: 15% !important;}
.py-20p{padding-top: 20% !important; padding-bottom: 20% !important;}

.pt-0{padding-top: 0 !important;}
.pt-2{padding-top: 2px !important;}
.pt-4{padding-top: 4px !important;}
.pt-6{padding-top: 6px !important;}
.pt-8{padding-top: 8px !important;}
.pt-10{padding-top: 10px !important;}
.pt-12{padding-top: 12px !important;}
.pt-16{padding-top: 16px !important;}
.pt-20{padding-top: 20px !important;}
.pt-24{padding-top: 24px !important;}
.pt-30{padding-top: 30px !important;}

.pb-0{padding-bottom: 0 !important;}
.pb-2{padding-bottom: 2px !important;}
.pb-4{padding-bottom: 4px !important;}
.pb-6{padding-bottom: 6px !important;}
.pb-8{padding-bottom: 8px !important;}
.pb-10{padding-bottom: 10px !important;}
.pb-12{padding-bottom: 12px !important;}
.pb-16{padding-bottom: 16px !important;}
.pb-20{padding-bottom: 20px !important;}
.pb-24{padding-bottom: 24px !important;}
.pb-30{padding-bottom: 30px !important;}

.pl-0{padding-left: 0 !important;}
.pl-2{padding-left: 2px !important;}
.pl-4{padding-left: 4px !important;}
.pl-6{padding-left: 6px !important;}
.pl-8{padding-left: 8px !important;}
.pl-10{padding-left: 10px !important;}
.pl-12{padding-left: 12px !important;}
.pl-16{padding-left: 16px !important;}
.pl-20{padding-left: 20px !important;}
.pl-24{padding-left: 24px !important;}
.pl-30{padding-left: 30px !important;}

.pr-0{padding-right: 0 !important;}
.pr-2{padding-right: 2px !important;}
.pr-4{padding-right: 4px !important;}
.pr-6{padding-right: 6px !important;}
.pr-8{padding-right: 8px !important;}
.pr-10{padding-right: 10px !important;}
.pr-12{padding-right: 12px !important;}
.pr-16{padding-right: 16px !important;}
.pr-20{padding-right: 20px !important;}
.pr-24{padding-right: 24px !important;}
.pr-30{padding-right: 30px !important;}

