.t-center{ text-align: center !important;}
.t-left{ text-align: left !important;}
.t-right{ text-align: right !important;}

.capitalize{ text-transform: capitalize !important;}
.uppercase{ text-transform: uppercase !important;}
.lowercase{ text-transform: lowercase !important;}

.through{ text-decoration: line-through !important;}

.italic{font-style: italic !important;}

.weight-bold{font-weight: bold !important;}
.weight-bolder{font-weight: bolder !important;}
.weight-normal{font-weight: normal !important;}
.weight-lighter{font-weight: lighter !important;}
.weight-100{font-weight: 100 !important;}
.weight-200{font-weight: 200 !important;}
.weight-300{font-weight: 300 !important;}
.weight-400{font-weight: 400 !important;}
.weight-500{font-weight: 500 !important;}
.weight-600{font-weight: 600 !important;}
.weight-700{font-weight: 700 !important;}
.weight-800{font-weight: 800 !important;}
.weight-900{font-weight: 900 !important;}

.font-6{font-size: 6px !important;}
.font-8{font-size: 8px !important;}
.font-10{font-size: 10px !important;}
.font-12{font-size: 12px !important;}
.font-14{font-size: 14px !important;}
.font-16{font-size: 16px !important;}
.font-18{font-size: 18px !important;}
.font-20{font-size: 20px !important;}
.font-22{font-size: 22px !important;}
.font-24{font-size: 24px !important;}
.font-26{font-size: 26px !important;}
.font-28{font-size: 28px !important;}
.font-30{font-size: 30px !important;}
.font-32{font-size: 32px !important;}
.font-36{font-size: 36px !important;}
.font-40{font-size: 40px !important;}
.font-44{font-size: 44px !important;}
.font-50{font-size: 50px !important;}
.font-60{font-size: 60px !important;}
.font-70{font-size: 70px !important;}
.font-80{font-size: 80px !important;}
.font-90{font-size: 90px !important;}
.font-100{font-size: 100px !important;}

.t-white { color: var(--ion-color-primary-contrast, #fff) !important;}
.t-primary { color: var(--ion-color-primary) !important;}
.t-secondary { color: var(--ion-color-secondary) !important;}
.t-tertiary { color: var(--ion-color-tertiary) !important;}
.t-success { color: var(--ion-color-success) !important;}
.t-warning { color: var(--ion-color-warning) !important;}
.t-danger { color: var(--ion-color-danger) !important;}
.t-dark { color: var(--ion-color-dark) !important;}
.t-medium { color: var(--ion-color-medium) !important;}
.t-light { color: var(--ion-color-light) !important;}
.t-backdrop { color: var(--ion-color-backdrop) !important;}

a { text-decoration: none !important; }