.z-1{zoom: 1 !important;}
.z-2{zoom: 2 !important;}
.z-3{zoom: 3 !important;}
.z-4{zoom: 4 !important;}
.z-5{zoom: 5 !important;}
.z-6{zoom: 6 !important;}
.z-7{zoom: 7 !important;}
.z-8{zoom: 8 !important;}
.z-9{zoom: 9 !important;}
.z-10{zoom: 10 !important;}