<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="clickedPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="w-100 f j-center f-wrap">
    <ion-card class="w-360px m-10" button
      *ngFor="let product of products | productsByCategory: filterCategory | sortBy: filterSort">

      <ion-slides class="mb-10">
        <ion-slide class="bg-white" *ngFor="let image of product.images">
          <div class="f j-center a-center h-360px">
            <img [src]="image.imageUrl" [alt]="imageName">
          </div>
        </ion-slide>
      </ion-slides>

      <ion-card-header class="pb-0">
        <ion-card-title class="capitalize t-ellipsis">
          {{ product.productName }}
        </ion-card-title>
        <ion-card-subtitle color="danger">
          Precio: {{ product.unitPrice | currency }}
        </ion-card-subtitle>
      </ion-card-header>


      <ion-card-content>
        <ion-textarea class="capitalize" rows="3" readonly [value]="product.description"></ion-textarea>
      </ion-card-content>


      <ion-card-content *ngIf="!getQuantityInLocker(product)" class="pt-0 f j-center a-center">
        <ion-button *ngIf="!product.adding" fill="clear" (click)="clickedAddDetailToLocker(product)">
          Agregar al Casillero
          <ion-icon slot="end" name="file-tray-full-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="product.adding" fill="clear">
          Procesando... <ion-spinner></ion-spinner>
        </ion-button>
      </ion-card-content>


      <ion-card-content *ngIf="locker && getQuantityInLocker(product)" class="pt-0 f j-center a-center">
        <ion-buttons class="w-80 f j-between a-center">
          <ion-button *ngIf="!product.removing; else btnSpinner" color="primary"
            (click)="clickedRemoveDetailToLocker(product)">
            <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button color="primary" class="b w-80">
            <h2>{{getQuantityInLocker(product)}}</h2>
          </ion-button>

          <ion-button *ngIf="!product.adding; else btnSpinner" color="primary"
            (click)="clickedAddDetailToLocker(product)">
            <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ng-template #btnSpinner>
  <ion-button color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</ng-template>

<ng-template #spinner>
  <ion-spinner></ion-spinner>
</ng-template>