<ion-header>
  <ion-toolbar>
    <ion-title>Mi Casillero</ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="clickedQrCode()">
        <ion-icon name="qr-code" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="locker && locker.itemCount > 0; else lockerEmpty">
    <ion-grid>
      <ion-row>
        <ion-col offsetLg="2" sizeLg="8" offsetMd="1" sizeMd="10">

          <ion-card button *ngFor="let detail of locker.products">
            <ion-grid class="p-0">
              <ion-row class="f a-center">
                <ion-col class="p-0" sizeMd="8" sizeXs="12">
                  <ion-card-content class="p-0 f j-start a-center">
                    <div class="w-120px h-120px bg-white f j-center a-center">
                      <img class="w-100 mh-100" [src]="detail.product.image.imageUrl"
                        [alt]="detail.product.image.imageName">
                    </div>

                    <div class="p-8 w-100 capitalize pointer">
                      <ion-card-title>{{ detail.product.productName }}</ion-card-title>
                      <ion-textarea disabled readonly [value]="detail.product.description"></ion-textarea>
                    </div>
                  </ion-card-content>
                </ion-col>

                <ion-col class="p-0 b-left" offsetMd="0" sizeMd="4" offsetSm="6" sizeSm="6" sizeXs="12">
                  <ion-card-content>
                    <div class="f j-between">
                      <p>Precio:</p>
                      <p>{{ detail.product.unitPrice | currency }}</p>
                    </div>
                    <div class="f j-between">
                      <p>Cantidad:</p>
                      <p>{{ detail.quantity }}</p>
                    </div>
                    <div class="f j-between">
                      <p>Total:</p>
                      <p>{{ detail.total | currency }}</p>
                    </div>
                    <div class="f j-between">
                      <ion-button fill="clear" size="small" *ngIf="!detail.removing; else btnSpinner" (click)="clickedRemoveDetail(detail)">
                        <ion-icon name="remove-circle-outline" slot="icon-only"></ion-icon>
                      </ion-button>

                      <ion-button fill="clear" size="small" *ngIf="!detail.adding; else btnSpinner" (click)="clickedAddDetail(detail)">
                        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
                      </ion-button>

                      <ion-button fill="clear" size="small" *ngIf="!detail.deleting; else btnSpinner" (click)="clickedRemoveDetail(detail, true)">
                        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="2" sizeLg="8" offsetMd="1" sizeMd="10">
          <ion-card>
            <ion-card-header class="f j-between">
              <ion-card-subtitle>
                Productos Totales:
              </ion-card-subtitle>
              <ion-card-subtitle class="m-0">
                {{ locker.itemCount }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="f j-between">
              <ion-card-title>
                Total:
              </ion-card-title>
              <ion-card-title class="m-0">
                {{ locker.total | currency }}
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  
</ion-content>

<ng-template #lockerEmpty>
  <div class="w-100 h-100 f j-center a-center">
    <ion-card *ngIf="!isLoad">
      <ion-card-header class="capitalize">
        el casillero esta vacio!
        <a routerLink="/" routerDirection="root">Ir de Compras</a>
      </ion-card-header>
    </ion-card>
  </div>
</ng-template>

<ng-template #btnSpinner>
  <ion-button fill="clear" size="small" color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</ng-template>